<ion-searchbar 
    class="searchTask" 
    placeholder="Buscar..."
    inputmode="text"
    [(ngModel)]="searchTask"
    >
</ion-searchbar>

<ion-item-sliding *ngFor="let listTask of showTasks | filter:searchTask; let i = index">
  <ion-item class="containerList">
    <ion-checkbox slot="start" [checked]="listTask.status"></ion-checkbox>
    <div>
      <p class="categoryName">{{listTask.category}}</p>
      <ion-row class="flex-list">
        <ion-text [ngClass]="{'tachado': listTask.status === true}">{{listTask.name}}</ion-text>
        <p class="date-list" *ngIf="listTask.status === true">{{listTask.fechaFin | date:'short'}}</p>
      </ion-row>
    </div>
  </ion-item>

  <ion-item-options>
    <ion-item-option><ion-icon (click)="checkTask(listTask, i)" name="checkmark-sharp"></ion-icon></ion-item-option>
    <ion-item-option color="danger"><ion-icon (click)="removeTask(i)" name="trash-bin"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<div class="tasksListEmpty" *ngIf="showTasks.length === 0">
  <div class="align-message">
    <ion-icon name="checkbox" color="primary" size="large"></ion-icon>
    <h4>{{taskListEmpty}}</h4>
  </div>
</div>