<!-- TAREAS PENDIENTES -->
<div class="tasksEmpty" *ngIf="showTasks.length === 0">
  <ion-icon name="alert-circle-outline" color="primary" size="large"></ion-icon>
  <h4>{{taskEarringEmpty}}</h4>
</div>
<swiper-container>
  <swiper-slide *ngFor="let taskToDO of showTasks">
    <div *ngIf="taskToDO.status === false">
      <ion-card [ngClass]="{'categoryU': taskToDO.category === categoryColor[0], 
                            'categoryT': taskToDO.category === categoryColor[1], 
                            'categoryC': taskToDO.category === categoryColor[2], 
                            'categoryCa': taskToDO.category === categoryColor[3]}"
                class="container-card-p">
        <ion-card-header>
          <ion-card-subtitle>{{taskToDO.fechaFin}}</ion-card-subtitle>
          <ion-card-title class="font-title flex-card">
            {{taskToDO.name}}
          </ion-card-title>
        </ion-card-header>
        
        <hr>
        
        <ion-card-content>
          <p>{{titleDescription}}</p>
          <p>{{taskToDO.description}}</p>
        </ion-card-content>
      </ion-card>
    </div>
    
  </swiper-slide>

</swiper-container>


