.container-card-p{ width: 15rem; }

p{ font-size: .7rem; }

.font-title{ font-size: 1rem; }

.hidden{ display: none; }

.card-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}