<!-- TAREAS PENDIENTES -->
<swiper-container>

  <swiper-slide *ngFor="let taskToDO of showTasks">
    <ion-card class="container-card-p" [ngClass]="{'categoryColor': taskToDO.category}">
      <ion-card-header>
        <ion-card-subtitle>{{dayTask}}</ion-card-subtitle>
        <ion-card-title class="font-title flex-card">
          {{taskToDO.name}}
        </ion-card-title>
      </ion-card-header>
      
      <hr>
      
      <ion-card-content>
        <p>{{titleDescription}}</p>
        <p>{{taskToDO.description}}</p>
      </ion-card-content>
      
    </ion-card>
  </swiper-slide>
  
  <!-- <swiper-slide>
    <ion-card [ngClass]="{'container-card-p': true}">
      <ion-card-header>
        <ion-card-subtitle>{{dayTask}}</ion-card-subtitle>
        <ion-card-title class="font-title flex-card">
          {{taskContent.name}}
        </ion-card-title>
      </ion-card-header>
      
      <hr>
      
      <ion-card-content>
        <p>{{titleDescription}}</p>
        <p>{{taskContent.description}}</p>
      </ion-card-content>
      
    </ion-card>
  </swiper-slide> -->

</swiper-container>


