.font-title{ font-size: 1rem; }

.description-finished{ margin: 0; }

.categoryUni {
    // color de categoría Universidad
    border-left: 5px solid #b469fa;
}
.categoryTra {
    // color de categoría Trabajo
    border-left: 5px solid #fa9c69;
}
.categoryCom {
    // color de categoría Compras
    border-left: 5px solid #69faca;
}
.categoryCas {
    // color de categoría Casa
    border-left: 5px solid #e4fa69;
}