<!-- TAREAS TERMINADAS -->
<div *ngFor="let task of showTasks" >
  <ion-card *ngIf="task.status === true">
    <ion-card-header>
      <p>{{task.description}}</p>
      <ion-card-title  [ngClass]="{ 'tachado' : tachado === true }" class="font-title flex-card">
        {{task.name}}
        <ion-checkbox (click)="lineThroughTask()"></ion-checkbox>
      </ion-card-title>
    </ion-card-header>
    
    <hr>
    
    <ion-card-content>
      <p><strong>{{dayTask}}</strong>{{hourTask}}</p>
    </ion-card-content>    
  </ion-card>
</div>