<!-- TAREAS TERMINADAS -->
<div class="tasksEmpty" *ngIf="countStatus === 0">
  <ion-icon name="alert-circle-outline" color="primary" size="large"></ion-icon>
  <h4>{{taskFinishedEmpty}}</h4>
</div>

<div *ngFor="let task of showTasks" >
  <div *ngIf="task.status === true">
    <ion-card [ngClass]="{'categoryUni': task.category === categoryColor[0], 
                          'categoryTra': task.category === categoryColor[1], 
                          'categoryCom': task.category === categoryColor[2], 
                          'categoryCas': task.category === categoryColor[3]}" >
      <ion-card-header>
        <ion-card-title [ngClass]="'tachado'" class="font-title flex-card">
          {{task.name}}
          <ion-icon name="checkmark-circle" color="primary" size="large"></ion-icon>
        </ion-card-title>
        <p class="description-finished">{{task.description}}</p>
      </ion-card-header>
      
      <hr>
      
      <ion-card-content>
        <p><strong>{{task.fechaFin | date}} </strong>{{task.fechaFin | date:'shortTime'}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</div>