.container-card{
    width: 15rem;
}

p{
    font-size: .7rem;
}

.font-title{
    font-size: 1rem;
}

.tachado {
    text-decoration:line-through;
}

ion-checkbox {
    // display: none;
}

ion-card {
    border-bottom: 5px solid rgb(255, 88, 88);
}